In [2]:
#general imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

#imputation tools
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [3]:
# establish directory locations
current_directory = os.getcwd()
parent_directory = os.path.dirname(current_directory)
data_folder = parent_directory + '/data/'
submissions_folder = parent_directory + '/submissions/'

In [4]:
df = pd.read_csv(data_folder + 'data.csv')

In [5]:
df.head()

,id,author,geometry,pressure [MPa],mass_flux [kg/m2-s],x_e_out [-],D_e [mm],D_h [mm],length [mm],chf_exp [MW/m2]
0,0,Thompson,tube,7.00,3770.0,0.1754,NaN,10.8,432.0,3.6
1,1,Thompson,tube,NaN,6049.0,-0.0416,10.3,10.3,762.0,6.2
2,2,Thompson,NaN,13.79,2034.0,0.0335,7.7,7.7,457.0,2.5
3,3,Beus,annulus,13.79,3679.0,-0.0279,5.6,15.2,2134.0,3.0
4,4,NaN,tube,13.79,686.0,NaN,11.1,11.1,457.0,2.8

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31644 entries, 0 to 31643
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   31644 non-null  int64
 1   author               26620 non-null  object
 2   geometry             26144 non-null  object
 3   pressure [MPa]       27192 non-null  float64
 4   mass_flux [kg/m2-s]  26853 non-null  float64
 5   x_e_out [-]          21229 non-null  float64
 6   D_e [mm]             26156 non-null  float64
 7   D_h [mm]             27055 non-null  float64
 8   length [mm]          26885 non-null  float64
 9   chf_exp [MW/m2]      31644 non-null  float64
dtypes: float64(7), int64(1), object(2)
memory usage: 2.4+ MB

In [7]:
inference_df = df
inference_df = inference_df.drop(columns = ['id', 'author', 'geometry'])
column_names = inference_df.columns

### Scikit Learn's IterativeImputer

In [8]:
ii_mean_random = IterativeImputer(max_iter=100)

ii_mean_random_np = ii_mean_random.fit_transform(inference_df)
ii_mean_random_df = pd.DataFrame(ii_mean_random_np, columns = column_names)

### Output Submission Files

In [9]:
# seperate target inference records
df['inf'] = df['x_e_out [-]'].isna()
df['ii_mean_random'] = ii_mean_random_df['x_e_out [-]']

In [10]:
inference_df = df[df['inf'] == True]

In [11]:
inference_df.shape

(10415, 12)

In [12]:
inference_df[['id', 'ii_mean_random']].to_csv(submissions_folder + 'V2_IterativeImputer_mean_random.csv',
                                              header = ['id', 'x_e_out [-]'],
                                              index = False)